md-input-container > md-select
  width: 100% !important

md-datepicker
  padding: 0 0 5em

  .md-datepicker-input
    color: rgb(128, 120, 120)
    font-size: 1.03em
    padding-left: .2em

  .md-datepicker-button.md-button
    display: none

  .md-datepicker-input-container
    width: 100%
    margin: 0

  .md-datepicker-expand-triangle
    top: 53%
    left: 50%
    transform: translate(-50%,-50%) scale(1.5)