.summary
  width: 100%
  text-align: center

.summary-form
  box-sizing: border-box
  width: 100%
  padding: 1em

  > *
    text-align: left
    //border: 1px solid red
    display: inline-block !important
    vertical-align: top
    max-width: 400px
    width: 100%
    margin: .5em 1em

  md-button
    display: inline


@media all and (max-width: 1285px)
  .summary-form
    > *
     flex-basis: 42%


@media all and (max-width: 685px)


  .summary-form
    padding: 1em

    > *
      flex-basis: 94%

    md-button
      margin-bottom: 2em


@media all and (max-width: 520px)
  .summary-form
    > *
      margin: .5em 0
