nav.top-bar(
    data-topbar
    role='navigation'
)
    .row.expanded.column
        .button-group.text-right
            a.button.secondary(
                href='#/login'
            ) Login
            a.button(
                href='#/register'
            ) Sign up